@font-face {
	font-family: "Root Ui";
	src: url("statics/fonts/PT_Root_UI_Light.ttf") format("truetype");
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: "Root Ui";
	src: url("statics/fonts/PT_Root_UI_Regular.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: "Root Ui";
	src: url("statics/fonts/PT_Root_UI_Medium.ttf") format("truetype");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: "Root Ui";
	src: url("statics/fonts/PT_Root_UI_Bold.ttf") format("truetype");
	font-weight: 700;
	font-style: normal;
}

div, input, button {
	color: #272F5A;
	font-family: 'Root Ui', sans-serif !important;
}